body{
background-color:#3AAFA9;
}
/* Login Forms */
.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-logo{
    position: relative;
    margin-left: -41.5%;
}
.login-logo img{
    position: absolute;
    width: 20%;
    margin-top: 19%;
    background: #282726;
    border-radius: 4.5rem;
    padding: 5%;
}
.login-form-1{
    padding: 9%;
    background:#DDF1F0;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    margin-bottom:12%;
    color:black;
}
.login-form-2{
    padding: 9%;
    background: #2B7A77;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    margin-bottom:12%;
    color: black;
}
.btnSubmit{
    font-weight: 600;
    width: 50%;
    color: white;
    background-color: black;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
}
.btnForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.btnForgetPwd:hover{
    text-decoration:none;
    color:#fff;
}

/*Gunjan Start*/
/*top nav*/
.navbar
{
background-image: linear-gradient(to right,#2B7A77,#DDF1F0);
color:white;
margin: 0 auto;
text-align: center;
font-style: oblique;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: '26';
}

/* Side navbar */
.navigation {
  width: 150px;
  height: 100%;
  position: absolute;
}
.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mainmenu a {
  display: block;
  background-color:black;
  text-decoration: none;
  padding: 25px;
  color:  #2B7A77;
  position: relative;
}

.mainmenu a:hover {
    background-color: #C5C5C5;
}

.mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
}

.submenu a {
  background-color: #DDF1F0;
}

.submenu a:hover {
  background-color: #666;
}
.submenu {
  overflow: hidden;
  max-height: 0;
  /* -webkit-transition: all 0.5s ease-out; */
}
.next
{
    align-content: center;
    margin-left: 40%;
    margin-top: 20%;
    font-family: cursive;
    font-style: bold;
    font-size: 25px;

}
.addf
{
    max-width: 500px;
    max-height: 500px;
    display: block;
    margin-top: 20px;
    padding-top: 20px;
    background-color: #2B7A77;
    border-radius: 1rem;
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
    padding: 9%;
    background:#DDF1F0;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
input
{
    border-radius: 1rem;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 2px;

    
}
.addstd
{
    max-width: 500px;
    max-height: 500px;
    display: block;
    margin-top: 20px;
    padding-top: 20px;
    background-color: #2B7A77;
    border-radius: 1rem;
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
    background:#DDF1F0;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.changepass
{
     max-width: 500px;
    max-height: 500px;
    display: block;
    margin-top: 20px;
    padding-top: 20px;
    background-color: #2B7A77;
    border-radius: 1rem;
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
    padding: 9%;
    background:#DDF1F0;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.btnReset
{
    font-weight: 600;
    width: 50%;
    color: white;
    background-color: black;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
}
.uploadpic
{
    max-width: 500px;
    max-height: 500px;
    display: block;
    margin-top: 10px;
    padding-top: 10px;
    background-color: #2B7A77;
    border-radius: 1rem;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
    padding: 3%;
    background:#DDF1F0;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.images
{
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
   
}
.uploadmarks
{ max-width: 500px;
    max-height: 500px;
    display: block;
    margin-top: 10px;
    padding-top: 10px;
    background-color: #2B7A77;
    border-radius: 1rem;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
    padding: 3%;
    background:#DDF1F0;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    
}
.marks
{
    max-width: 500px;
    max-height: 500px;
    display: block;
    margin-top: 10px;
    padding-top: 10px;
    background-color: #2B7A77;
    border-radius: 1rem;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
    padding: 3%;
    background:#DDF1F0;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
      
}
[type="checkbox"]
{
    vertical-align:middle;
}